
Manucharyan2018AtomicTypePredictionInUsingCNN/doc/Manucharyan2018AtomicTypePredictionInUsingCNN.aux
Manucharyan2018AtomicTypePredictionInUsingCNN/doc/Manucharyan2018AtomicTypePredictionInUsingCNN.out
Manucharyan2018AtomicTypePredictionInUsingCNN/doc/Manucharyan2018AtomicTypePredictionInUsingCNN.bbl
Manucharyan2018AtomicTypePredictionInUsingCNN/doc/Manucharyan2018AtomicTypePredictionInUsingCNN.blg
Manucharyan2018AtomicTypePredictionInUsingCNN/doc/Manucharyan2018AtomicTypePredictionInUsingCNN.log
